<h1> Homepage to Flitter </h1>

<% @posts.each do |post| %>
<ul>
	<li><%=post.text%></li>
</ul>
<% end %>
<%= render :partial => 'create_post_form' %><hr><br>


Sign up:<%= link_to 'here!', new_user_path %><br><hr>

Log in:<%= link_to 'here!', login_path %>
