<h1> Homepage to Flitter </h1>

<% @posts.each do |post| %>
<ul>
	<li><%=post.text%></li>
</ul>
<% end %>

<div id="post-form">
</div>

<div id="query-form">
	<%= render :partial => 'flight_query_form' %>
</div>
