<% posts.each do |post| %>

<div class = "fleet_top">
		<div id = "left">
			User: <%= link_to "#{post.user.username}", posts_path %>
		</div>
		
		<div id = "right">
			Flight: <%= link_to "#{post.flight.airline.name} Flight #{post.flight.flight_number}", flight_path(post.flight.id) %>
		</div>
</div>

		<div id = "fleet_body">
			<%=post.text%>
		</div>



<% end %>

