<% posts.each do |post| %>

<div class = "fleet">
		
	User: <%= link_to "#{post.user.username}", user_path(post.user.id) %>
	Flight: <%= link_to "#{post.flight.airline.name} Flight #{post.flight.flight_number}", flight_path(post.flight.id) %>
	<%=post.text%>
		
</div>



<% end %>

