<div class="row">
  <div class ="description">
            <table>
          <tr>
            <td>
              <select>
                <option id="item" value="arrival">Arrival Times</option>
                <option id="item" value="departure">Departure Times</option>
              </select>
            </td>
        </tr>
        <tr>
              <td>
                <ul>
                  <li><input type="checkbox" class="checkbox" name="check" value="sort"> </li>
                  <li>Sort by earliest to latest</li>
                </ul>
              </div>
            </td>

        </tr>
          </table>
      </div>
      <br>
      <div id="chart-container"></div>
    </div>
</div>